body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    padding: 30px;
    text-align: center;
    margin-bottom: 10px;
}
   
* {
    margin: 0;
    padding: 0;

}

/* navigation bar */
.navbar {
    margin: 0;
    overflow: hidden;
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    bottom: 0;
    padding-left: 100px;
    padding-right: 100px;
    height: 0px;
    opacity: 95%;
    overflow: visible;
}
  
.navbar img{
    float: left;
    display: block;
    height: 45px;
    margin-top: -20px;
}

.navbar h1{
    float: left;
    color: green;
    font-size: 15px;
    margin-top: -6px;
    margin-left: 10px;
}

.navbar .active {
    float: right;
    background-color: #9bbb8a;
    padding: 0.5px 10px;
    border-radius: 2px;
    transition: 0.3s;
}

.navbar .active a{
    color: white;
    text-decoration: none;
}

.navbar .active:hover {
    color:#9bbb8a;
    background-color: white;
}

.navbar .right {
    float: right;
    color: green;
    text-decoration: none;
    transition: 0.7s ease;
}
  
.navbar .right:hover {
    background-color: green;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 2px;
    opacity: 90%;
}

li{
    list-style: none;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    float: right;
    margin-top: -6px;
    margin-right: 60px;
}

/* Dropdown Button */
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	text-align: left;
	color: blue;
	background: none;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 20px;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}



.header {
    padding: 0;
    text-align: center;
}
  
.header h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: black;
}
  
.header p{
    font-size: 18px;
    color: black;
}

footer {
    background-color: #9bbb8a;
    margin: 0px;
    padding: 0px;
    margin-bottom: -10px;
}

.events {
    border-style: solid;
    border-color: red;
}

.poster {
    border-style: solid;
    border-color: orange;
}

.list {
    border-style: solid;
    border-color: yellow;
}

.calendar {
    border-style: solid;
    border-color: green;
}

.todo {
    border-style: solid;
    border-color: blue;
}

.footer-about {
    color: white;
}

.links {
    margin-top: -50px;
}
